* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.contenedorDia29 {
    background-color: #fff;
    font-family: "Oswald", sans-serif;
}
  
.containerDay29 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 500px;
    align-items: center;
}
  
.imagen28 {
    height: 440px;
    width: 300px;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
}
  
.fa-heart {
    color: red;
}

.heart-animation {
    position: absolute;
    transform: translate(-50%, -50%);
    animation: pulse 3s ease-in-out;
}
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  
@keyframes grow {
    to {
      transform: translate(-50%, -50%) scale(10);
      opacity: 0;
    }
}
  