@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.contenedorDia29 {
    background-color: #fff;
    font-family: "Oswald", sans-serif;
}
  
.containerDay29 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 500px;
    align-items: center;
}
  
.imagen28 {
    height: 440px;
    width: 300px;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
}
  
.fa-heart {
  color: red;
  font-family: Times New Roman;
}

.heart-animation {
  position: absolute;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);;
}

.ubi{
  top: 264px;
  left: 952px
}
  
@keyframes grow {
    to {
      transform: translate(-50%, -50%) scale(10);
      opacity: 0;
    }
}
  