.contenedorDia8 {
    background-color: steelblue;
    color: #fff;
    font-family: "Muli", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    /* background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px; */
  }
  
  .contenedorDia8 h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    margin-top: 30px;
    transform: translateX(0);
    margin-right: 0;
  }
  
  .contenedorDia8 a {
    text-decoration: none;
    color: lightblue;
  }
  
  .form {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
  }
  
  .btnDay8 {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
  }
  
  .btnDay8:focus {
    outline: 0;
  }
  
  .text {
    margin-top: 30px;
    color: #fff;
  }
  
  .form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
  }
  
  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
    outline: none;
  }
  
  /* .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
  } */
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }
  
  /* .form-control label span {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(0.1s * var(--i));
  } */
  
  .wave {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(0.1s * var(--i));
  }
  
  .wave span {
    font-family: "Alfa Slab One", cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(0.1s * var(--i));
  }
  /* @keyframes waviy {
    0%,
    40%,
    100% {
      transform: translateY(-30px);
    }
    20% {
      transform: translateY(-60px);
    }
    60% {
      transform: translateY(-30px);
    }
  } */
  
  @keyframes waviy {
    from {
      transform: translateY(-30px);
    }
    to {
      transform: translateY(-60px);
    }
  }
  
  /* .wave {
    transform: translateY(-30px);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
  } */
  
  .waveOff {
    transform: translateY(0px);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }